:root{
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
}

*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  min-height:100vh;
  min-height: 100dvh;
  background-color:var(--base-clr);
  color: var(--text-clr);;
}
.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.card{
  width: 400px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  margin: 20px;
}
.card img{
  width: 100%;
  height: auto;

}
.card-content{
  padding:16px;
  text-align: center;
}
.card-content h3{
  font-size: 28px;
  margin-bottom: 8px;
  
}

.card-content p{
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}
.card-content .btn{
  display: inline-block;
  padding:8px 16px;
  background-color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #fff;
}
.input-box{
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 250px;
  box-sizing: border-box;
}

.input-box:focus{
  border-color: #0078ff;
  outline: none;
}
.input-container{
  display:flex;
  justify-content: center;
  margin-top: 20px;

}

